[Unit]
Description=PowerUtil
After=multi-user.target

[Service]
Type=oneshot
ExecStart=/home/vicp/.cargo/bin/powerutil check --config-file /home/vicp/.powerutil.yaml
User=root

[Install]
WantedBy=multi-user.target